main {
  display: flex;
  flex-wrap: wrap; /*faz com que a imagem se ajuste de acordo com o tamanho da tela*/
  gap: 24px;
  padding-block: 24px;
}

main img {
  width: 286px;
  height: 286px;
  object-fit: cover;
}